@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bkg1.jpeg);
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__content {
    margin-left: 3.445rem;
}

.text {
    line-height: 55px;
    p {
        color: rgb(157, 155, 155);
        text-transform: uppercase;
        font-size: 27px;
    }

    h1 {
        font-size: 75px;
        text-transform: uppercase;
    }

}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.icons {
    display: flex;
    .icon {
        margin-top: 1rem;
        margin-right: 1.4rem;
        font-size: 35px;
        cursor: pointer;
        color: rgb(157, 155, 155);

        &:hover {
            color: white;
        }
    }
}

@media (max-width:1200px) 
{
    .neon {
        padding: 8px 20px;
        font-size: 22px;
    }
    .icons {
        margin-right: 1rem;
        .icon {
            font-size: 40px;
        }
    }


}



@media (max-width:600px) {

    .main__content {
        margin-left: auto;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .text {
        h1 {
            font-size: 40px;

        }
        p {
            color: grey;
            font-size:20px;
        }
    }

    .icons{ 
        display: block;
        height: 100%;
        width: 100%;
        margin: auto;
    .icon {
        color: grey;
        
    }
}
}